body{
    background: #070506 url(../img/main-bg.jpg) no-repeat top right 100%;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;    
    color: #FFFFFF;
}
.container{
    width: 90%;
    max-width:  1060px;
    margin: auto;
}
@font-face {
    font-family: 'fontaa46d234cf405126cdd1c36600e4b978';        
        src:  
             local('ProximaNova-Black'), 
             url('https://nomail.com.ua/files/eot/aa46d234cf405126cdd1c36600e4b978.eot?#iefix') format('embedded-opentype'),
             url('https://nomail.com.ua/files/woff/aa46d234cf405126cdd1c36600e4b978.woff') format('woff'),
             url('https://nomail.com.ua/files/woff2/aa46d234cf405126cdd1c36600e4b978.woff2') format('woff2');
} 

*, *:after, *:before {
    box-sizing: border-box;
}

.nav{
    display: flex;        
    padding-left: 71px;
    padding-right: 15px;
}
.nav--link{
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    padding-right: 15px;
}
.header{
    margin-top: 91px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 78px;
}
.main{
    margin-bottom: 59px;
}
.subtitle{
    font-family: 'ProximaNova-Black', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 100%;
    margin-bottom: 5px;      
}
.title{
    font-family: 'ProximaNova-Black', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 78px;
    margin-top: 5px;
}
.description{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #AFAFAF;
    margin-bottom: 15px;
}
.premier{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #B02000;
    display: flex;
      
}
.date{
    display: block;
    margin-top: 5px;
    font-weight: normal;
    font-size: 24px;
    line-height: 150%;
    margin-bottom: 46px;
    
}
.button-play{
    position: relative;
    background: linear-gradient(90deg, #FB641A 0%, #FC3309 100%);
    border-radius: 300px;
    border: none;
    padding: 25px 34px;
    padding-right: 90px;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;      
    text-decoration: none;
    display: inline-block;
}
.button-play::after{
    position: absolute;
    content: "";
    background: #FFFFFF url(../img/play.svg) no-repeat center;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    right: 0;
    top: 0;
}
.button-play::before{
    position: absolute;
    content:"";
    width: 81px;
    height: 81px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    top: -8px;
    right: -8px;
}

.last{
    font-weight: bold;
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 24px;
}
.slider{
    display: flex;      
    flex-wrap: wrap;       
  
}
.title-card{
    font-weight: 900;
    font-size: 18px;
    line-height: 150%;
}
.year{
    font-size: 18px;
    line-height: 150%;
}
.rating{
    font-size: 13px;
    line-height: 150%;
    margin-right: 12px;
}
.card{  
    position: relative;  
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    min-height: 200px;
    margin-right: 20px;
    margin-top: 20px;
    padding: 30px;
    background:  rgba(80, 80, 80, 0.86);
    transition: all 0.5s;
    box-shadow: 0px 10px 26px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-bottom: 27px;
}
.card:hover{
    background:  rgba(64, 101, 255, 0.86);   
}
.card-image{
    position: absolute;
    left: 0;
    top: 0;
    z-index:-1;
}
.star{
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url(../img/star.svg) no-repeat center;
}
.star-o{
    background: url(../img/star-o.svg) no-repeat center;
}
.slider-left{
    width: 32px;
    height: 32px;
    background: transparent url(../img/arrow-left.svg) no-repeat center;
    border: none;
    margin-right: 15px;   
    cursor: pointer; 
}
.slider-right{
    width: 32px;
    height: 32px;
    background: transparent url(../img/arrow-right.svg) no-repeat center;
    border: none;
    cursor: pointer; 
}
.slider-left span, 
.slider-right span{
    display: none;
}

@media (max-width: 600px) {
    .subtitle {
        font-size: 24px;
    }
    .title {
        font-size: 34px;
        line-height: 120%;
    }
    .description {
        font-size: 16px;
    }
    .header {
        flex-direction: column;
        align-items: flex-start;
    }
    .logo {
        margin-bottom: 30px;
    }
    .nav{
        display: flex;
        flex-direction: column;
        padding-left: 0;
    }
    .nav--link{
        margin-bottom: 10px;
    }
}